@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.luz-acesa{
	background-color: yellow;
}
.luz-apagada{
	background-color: gray;
}

td {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color: gray;
	text-align: center;
}

a {
	display: block;
	height: 50px;
	border-radius: 100%;
}

a:link {
    text-decoration: none;
}

a.menu {
	text-align: center;
	display: inline-block;
	border: 2px solid black;
	width: 100px;
	height: 100px;
    padding: 10px;
	font-size: 200%;
}
body {
	font-family: Roboto Condensed;
}