@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.luz-acesa{
	background-color: #dd99c7;
}
.luz-apagada{
	background-color: gray;
}

td {
	border-radius: 100%;
	border: 2px solid black;
	width: 50px;
	height: 50px;
	background-color: gray;
	text-align: center;
}

a {
	display: block;
	height: 50px;
	border-radius: 100%;
}

a:link {
    text-decoration: none;
}

a.menu {
	display: inline-block;
	text-align: center;
	border: 3px solid black;
	margin: 5px;
	width: 100px;
	height: 83px;
    	padding: 10px;
	font-size: 200%;
	border-radius: initial;
    	color: #101a35;
	font-size: 200%;
    	background-color: #6e70b8;
}

body {
	margin-top: 113px;
	font-family: Roboto Condensed;
	text-align: center;
        color: #dd99c7;
}

html {
	
    background-color: #101a35;
    background-size: cover;
    background-image: url("http://i.imgur.com/ZyhurQY.jpg");	
    background-repeat: no-repeat;
	height: 100%;
}
table {
	
    text-align: center;
    display: inline;
}

p.subtitulo {
	font-size: 200%;
	font-family: Roboto Condensed;
	text-align: center;
}

a.opcoes {
	font-size: 120%;
}